<launch> 
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="Plus" args="load test_nodelet/Plus standalone_nodelet">
  <param name="value" type="double" value="2.1"/>
  </node>		  
  
  <node pkg="nodelet" type="nodelet" name="plus_remap" args="load test_nodelet/Plus standalone_nodelet">
  <param name="value" type="double" value="2.1"/>
    <remap from="/plus_remap/out" to="remapped_output"/>
  </node>		  

  <rosparam param="Plus2" file="$(find test_nodelet)/plus_default.yaml"/>
  <node pkg="nodelet" type="nodelet" name="Plus2" args="load test_nodelet/Plus standalone_nodelet" output="screen">
    <rosparam file="$(find test_nodelet)/plus_default.yaml"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="Plus3" args="standalone test_nodelet/Plus" output="screen">
    <param name="value" type="double" value="2.5"/>
    <remap from="Plus3/in" to="Plus2/out"/>
  </node>

  <test test-name="plus_local" pkg="test_nodelet" type="plus_local.py" />
</launch>
