<launch>
  <node pkg="nodelet" type="standalone_nodelet" name="standalone_nodelet" output="screen"/>
  <node pkg="nodelet" type="standalone_nodelet" name="standalone_nodelet2" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="$(anon nodelet_manager1)" args="Plus nodelet_tutorial_math/Plus standalone_nodelet" output="screen">
    <remap from="/Plus/out" to="remapped_output"/>
  </node>		  
  
  <rosparam param="Plus2" file="$(find nodelet_tutorial_math)/plus_default.yaml"/>
  <node pkg="nodelet" type="nodelet" name="$(anon nodelet_manager2)" args="Plus2 nodelet_tutorial_math/Plus standalone_nodelet" output="screen">
    <rosparam file="$(find nodelet_tutorial_math)/plus_default.yaml"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="$(anon nodelet_manager3)" args="Plus3 nodelet_tutorial_math/Plus standalone_nodelet2" output="screen">
    <param name="value" type="double" value="2.5"/>
    <remap from="Plus3/in" to="Plus2/out"/>
  </node>
</launch>
